Django==3.2.25
asgiref==3.11.1
sqlparse==0.4.4
pytz==2024.1
django-environ==0.11.2
Pillow==9.5.0
django-model-utils==5.0.0
psycopg2-binary==2.9.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1